/* Set the size of the div element that contains the map */
h3 {
    color: black;
    font-family: arial, 'Roboto Condensed', sans-serif; 
}
#map {
    height: 550px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
    margin: 0px auto;
    display: inline-block;
}
#title {
    position: center;
    text-align: center;
}